NET "D0"  LOC = "E6"  ;
NET "D1"  LOC = "C5"  ;
NET "D2"  LOC = "C6"  ;
NET "D3"  LOC = "C7"  ;
NET "LOAD"  LOC = "C8"  ;

NET "LabVIEW"  LOC = "D5"  ;
NET "LASER"  LOC = "D6"  ;
NET "Pulses"  LOC = "E7"  ;
NET "LabVIEWOUT" LOC = "D7" ;

NET "Pulses" CLOCK_DEDICATED_ROUTE = FALSE;
NET "LOAD" CLOCK_DEDICATED_ROUTE = FALSE;

NET "HexOut(0)" LOC = "P16";
NET "HexOut(1)" LOC = "N16";
NET "HexOut(2)" LOC = "F13";
NET "HexOut(3)" LOC = "R16";
NET "HexOut(4)" LOC = "P15";
NET "HexOut(5)" LOC = "N15";
NET "HexOut(6)" LOC = "G13";
NET "HexOut(7)" LOC = "E14";

NET "HEXSEL0" LOC = "D14";
NET "HEXSEL1" LOC = "G14";
NET "HEXSEL2" LOC = "F14";
NET "HEXSEL3" LOC = "E13";

NET "CLKIN" LOC = "T9";

#Created by Constraints Editor (xc3s400-ft256-4) - 2014/03/03
NET "CLKIN" TNM_NET = CLKIN;
TIMESPEC TS_CLKIN = PERIOD "CLKIN" 20 ns HIGH 50%;
