//! **************************************************************************
// Written by: Map P.20131013 on Wed Feb 03 10:15:57 2016
//! **************************************************************************

SCHEMATIC START;
COMP "LOAD" LOCATE = SITE "C8" LEVEL 1;
PIN LOAD_pin<0> = BEL "LOAD" PINNAME PAD;
PIN "LOAD_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "LABVIEW" LOCATE = SITE "D5" LEVEL 1;
COMP "HexOut<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "HexOut<1>" LOCATE = SITE "N16" LEVEL 1;
COMP "HexOut<2>" LOCATE = SITE "F13" LEVEL 1;
COMP "HexOut<3>" LOCATE = SITE "R16" LEVEL 1;
COMP "PULSES" LOCATE = SITE "E7" LEVEL 1;
PIN PULSES_pin<0> = BEL "PULSES" PINNAME PAD;
PIN "PULSES_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "HexOut<4>" LOCATE = SITE "P15" LEVEL 1;
COMP "HexOut<5>" LOCATE = SITE "N15" LEVEL 1;
COMP "HexOut<6>" LOCATE = SITE "G13" LEVEL 1;
COMP "HexOut<7>" LOCATE = SITE "E14" LEVEL 1;
COMP "LabVIEWOUT" LOCATE = SITE "B11" LEVEL 1;
COMP "LASER" LOCATE = SITE "D6" LEVEL 1;
COMP "HEXSEL0" LOCATE = SITE "D14" LEVEL 1;
COMP "HEXSEL1" LOCATE = SITE "G14" LEVEL 1;
COMP "HEXSEL2" LOCATE = SITE "F14" LEVEL 1;
COMP "HEXSEL3" LOCATE = SITE "E13" LEVEL 1;
COMP "D0" LOCATE = SITE "E6" LEVEL 1;
COMP "CLKIN" LOCATE = SITE "T9" LEVEL 1;
COMP "D1" LOCATE = SITE "C5" LEVEL 1;
COMP "D2" LOCATE = SITE "C6" LEVEL 1;
COMP "D3" LOCATE = SITE "C7" LEVEL 1;
NET "CLKIN_BUFGP/IBUFG" BEL "CLKIN_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "LOAD_BUFGP/IBUFG" BEL "LOAD_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "PULSES_BUFGP/IBUFG" BEL "PULSES_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
TIMEGRP CLKIN = BEL "XLXI_149/I_36_35" BEL "XLXI_149/I_36_36" BEL
        "XLXI_149/I_36_224" BEL "XLXI_149/I_36_237" BEL "XLXI_149/I_36_250"
        BEL "XLXI_149/I_36_263" BEL "XLXI_149/I_36_276" BEL
        "XLXI_149/I_36_289" BEL "CLKIN_BUFGP/BUFG.GCLKMUX" BEL
        "CLKIN_BUFGP/BUFG";
TS_CLKIN = PERIOD TIMEGRP "CLKIN" 20 ns HIGH 50%;
SCHEMATIC END;

